<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, user-scalable=no">
  	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,400&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render partial: 'shared/nav' %>
    <%= yield %>
  </body>
</html>
